.LabelSelect {
    
}
.Label_container {
    padding: 4px 5px;
    min-width: 440px;
    height: auto;
    border : 1px solid #CCC;
    background-color : white;
}

.Label_container .Label_list {
    position: relative;
    padding-right: 20px;
}

.Label_container .LabelSelect_combo {
    margin: 2px 5px;
    /*display: block;*/
    width : auto;
    border : none;
    background: none;
    vertical-align: top;
}

.Label_container .LabelSelect_combo:after {
    display: block;
    position: absolute;
    right: 0;
    border-bottom: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 5px solid #000;
}

.Label_container .LabelSelect_LabelContainer {
    position: relative;
    display: inline-block;

    overflow: hidden;

    margin: 1px;
    padding: 2px 25px 2px 10px;

    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */*/

    color: #fff;
    font-size: 12px;
}

.Label_container .LabelSelect_LabelContainer .LabelSelect_label  {
    overflow: hidden;
    max-width: 200px;
    display: block;

    color: #fff;
    font-size: 12px;
}

.Label_container .LabelSelect_label .LabelSelect_remove {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    margin-left: 10px;

    width: 15px;
    height: 15px;

    border: 1px solid #444;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background: #888;
    color: #222;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

.Label_container ..LabelSelect_label .LabelSelect_remove:hover {
    background: #666;
}

.Label_container .LabelSelect_combo.dijitTextBoxFocused {
    outline: none;
}

.Label_container .LabelSelect_combo .dijitDownArrowButton {
    border:0;
    /*position: relative;*/
    background: none;
}

.Label_container .LabelSelect_combo .dijitInputField input {
    height: 19px;
}

.Label_container .LabelSelect_combo .dijitInputField input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.Label_container .LabelSelect_combo .dijitDownArrowButton input {
    height: 0;
    position: absolute;
    top: 3px;
    right: 0;
    border-bottom: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #444;
}

.Label_container .LabelSelect_combo .dijitDownArrowButton .dijitArrowButtonInner {
    background: none;
}


